
body {
    margin: 0px;
    padding: 0px;
}

#map {
    width: 100%; height: 100px;
    margin-top: 0px;
}

.leaflet-popup-pane article {
	transform: none !important;
}

/** Parix Example */
.leaflet-popup-pane .leaflet-popup-content img {
	max-width: 280px !important;
	height: auto;
}

.leaflet-popup.sculpture-photo {
	min-width: 320px;
}
